@import "reset";

$cell-length: 45px;

body {
    height: 100vh;
    width: 100%;
}

// #root {
//     height: 100%;
//     width: 100%;
// }

.boards {
    width: 100%;
    justify-content: space-around;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
}

.board {
    width: $cell-length * 10;
    height: $cell-length * 10;
    display: flex;
    flex-wrap: wrap;
}

.cell {
	width: $cell-length;
	height: $cell-length;
	box-sizing: border-box;
	border: 1px solid black;
}

.miss {
 background-color: blue;
}

.ship {
	width: $cell-length;
	height: $cell-length;
	box-sizing: border-box;
    border: 1px solid red;
    background-color: red;
}

.hit {
	width: $cell-length;
	height: $cell-length;
	box-sizing: border-box;
	border: 1px solid black;
	background-color: black;
}

.sunk {
	border: 1px solid red;
}

.ship-div {
	display: flex;
}

.pieces {
    height: 500px;
    display: flex;
    justify-content: space-around;
}